.preview {

  :not(pre) > code {
    @apply .bg-gray-200 .rounded .px-2 .py-1 .mx-1 .text-xs;
  }

  pre {
    @apply .leading-tight .text-xs .overflow-auto .font-mono;
  }

  p,
  pre,
  blockquote,
  table,
  ul,
  ol,
  caption,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr {
    @apply .mb-4;
  }

  b,
  strong,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply .font-medium;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply .leading-tight;
  }

  h1 {
    @apply .text-5xl;
  }

  h2 {
    @apply .text-4xl;
  }

  h3 {
    @apply .text-3xl;
  }

  h4 {
    @apply .text-2xl;
  }

  h5 {
    @apply .text-xl;
  }

  h6 {
    @apply .text-lg;
  }

  ul,
  ol {
    @apply .pl-4;
  }

  ul {
    @apply .list-disc;
  }

  ol {
    @apply .list-decimal;
  }

  blockquote {
    @apply .border-l-4 .border-pink-600 .px-4 .italic .bg-pink-100 .py-2;
  }

  mark {
    @apply .bg-pink-200;
  }

  img {
    @apply .inline-block;
  }

  caption {
    @apply .text-sm .text-gray-600;
  }

  table,
  blockquote,
  ol,
  ul {
    p:last-child {
      @apply .mb-0;
    }
  }

  table {
    @apply .border-separate .rounded .border .overflow-auto .text-sm;

    border-spacing: 0;

    tr th,
    tr td {
      @apply .border-r .border-b;

      &:last-child {
        @apply .border-r-0;
      }
    }

    tbody tr:last-child {
      td,
      th {
        @apply .border-b-0;
      }
    }

    th,
    td {
      @apply .px-2 .py-1;
    }
  }
}
