.hljs {
  @apply bg-gray-200 block overflow-x-auto p-4 rounded;
}

.hljs,
.hljs-subst {
  color: #444;
}
.hljs-comment {
  color: #888888;
}
.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}
.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  @apply text-pink-500;
}
.hljs-title,
.hljs-section {
  @apply text-pink-500 font-bold;
}
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  @apply text-pink-400;
}
.hljs-literal {
  @apply text-green-500
}
.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}
.hljs-meta {
  color: #1f7199;
}
.hljs-meta-string {
  color: #4d99bf;
}
.hljs-emphasis {
  @apply italic;
}
.hljs-strong {
  @apply font-bold;
}
