$popover-bg: white;
$popover-border-color: theme("colors.gray.300");
$popover-border-width: theme("borderWidth.DEFAULT");
$popover-arrow-width: 1rem;
$popover-arrow-height: 0.5rem;
$popover-arrow-color: $popover-bg;
$popover-arrow-outer-color: $popover-border-color;
$border-radius-lg: theme("borderRadius.DEFAULT");

.popover {
  @apply bg-white border shadow-lg rounded z-50 absolute;

  .arrow {
    @apply absolute block;
    width: $popover-arrow-width;
    height: $popover-arrow-height;
    margin: 0 $border-radius-lg;

    &::before,
    &::after {
      @apply absolute block;
      content: "";
      border-color: transparent;
      border-style: solid;
    }
  }

  &.top {
    margin-bottom: $popover-arrow-height;

    .arrow {
      bottom: calc(($popover-arrow-height + $popover-border-width) * -1);
    }

    .arrow::before,
    .arrow::after {
      border-width: $popover-arrow-height calc($popover-arrow-width / 2) 0;
    }

    .arrow::before {
      bottom: 0;
      border-top-color: $popover-arrow-outer-color;
    }

    .arrow::after {
      bottom: $popover-border-width;
      border-top-color: $popover-arrow-color;
    }
  }
  &.right {
    margin-left: $popover-arrow-height;

    .arrow {
      left: calc(($popover-arrow-height + $popover-border-width) * -1);
      width: $popover-arrow-height;
      height: $popover-arrow-width;
      margin: $border-radius-lg 0;
    }

    .arrow::before,
    .arrow::after {
      border-width: calc($popover-arrow-width / 2) $popover-arrow-height
        calc($popover-arrow-width / 2) 0;
    }

    .arrow::before {
      left: 0;
      border-right-color: $popover-arrow-outer-color;
    }

    .arrow::after {
      left: $popover-border-width;
      border-right-color: $popover-arrow-color;
    }
  }
  &.bottom {
    margin-top: $popover-arrow-height;

    .arrow {
      top: calc(($popover-arrow-height + $popover-border-width) * -1);
    }

    .arrow::before,
    .arrow::after {
      border-width: 0 calc($popover-arrow-width / 2) $popover-arrow-height
        calc($popover-arrow-width / 2);
    }

    .arrow::before {
      top: 0;
      border-bottom-color: $popover-arrow-outer-color;
    }

    .arrow::after {
      top: $popover-border-width;
      border-bottom-color: $popover-arrow-color;
    }
  }
  &.left {
    margin-right: $popover-arrow-height;

    .arrow {
      right: calc(($popover-arrow-height + $popover-border-width) * -1);
      width: $popover-arrow-height;
      height: $popover-arrow-width;
      margin: $border-radius-lg 0;
    }

    .arrow::before,
    .arrow::after {
      border-width: calc($popover-arrow-width / 2) 0
        calc($popover-arrow-width / 2) $popover-arrow-height;
    }

    .arrow::before {
      right: 0;
      border-left-color: $popover-arrow-outer-color;
    }

    .arrow::after {
      right: $popover-border-width;
      border-left-color: $popover-arrow-color;
    }
  }
}
