@import "styles/hljs";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flow-row {
    @apply flex default:flex-grow;
  }

  .flow-col {
    @apply flex flex-col default:flex-grow;
  }

  .text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  }

  .text-muted {
    @apply text-gray-600;
  }

  .bg-muted {
    @apply bg-gray-50;
  }

  .active {
    .text-muted {
      @apply text-pink-300;
    }
  }
}

@layer base {
  html {
    font-size: 13px;
  }

  * {
    -webkit-font-smoothing: antialiased;
  }

  a {
    @apply text-pink-500 no-underline;
  }

  #root {
    @apply flex flex-auto bg-white overflow-hidden h-screen;
  }

  iframe {
    @apply w-full aspect-video;
  }
}

@layer components {
  $popover-bg: white;
  $popover-border-color: theme("colors.gray.300");
  $popover-border-width: theme("borderWidth.DEFAULT");
  $popover-arrow-width: 1rem;
  $popover-arrow-height: 0.5rem;
  $popover-arrow-color: $popover-bg;
  $popover-arrow-outer-color: $popover-border-color;
  $border-radius-lg: theme("borderRadius.DEFAULT");

  .Heading {
    @apply text-xl font-medium;
  }
  .Input {
    @apply appearance-none outline-none flex-auto mr-2 py-1 bg-transparent text-white placeholder-pink-500;
  }
  .Panel {
    @apply flow-col;

    .PanelHeader {
      @apply border-pink-700 select-none flex space-x-2 overflow-hidden items-center px-4 bg-pink-800 text-white leading-none min-h-[48px];
    }

    .PanelContent {
      @apply flex-auto overflow-y-auto;
    }
  }

  .Indicator {
    @apply inline-block h-2 w-2 rounded-full bg-pink-600;
  }

  .PanelContainer {
    @apply flow-row;

    .PanelHeader {
      @apply border-pink-700 border-r;
    }
    .PanelContent {
      @apply border-r;
    }
  }

  .ItemListItem {
    @apply flow-col flex-none justify-between cursor-pointer select-none max-w-full px-6 py-3 border-b space-x-2;
    &.active {
      @apply bg-pink-600 text-white;
    }
  }

  .ItemListItemSummary {
    @apply flex-none text-sm leading-tight line-clamp-2 text-muted;
  }

  .ItemListItemAuthor {
    @apply flow-row items-center space-x-1 text-xs;
  }

  .Popover {
    @apply bg-white border shadow-lg rounded z-50 absolute;

    .Arrow {
      @apply absolute block;
      width: $popover-arrow-width;
      height: $popover-arrow-height;
      margin: 0 $border-radius-lg;

      &::before,
      &::after {
        @apply absolute block;
        content: "";
        border-color: transparent;
        border-style: solid;
      }
    }

    &.top {
      margin-bottom: $popover-arrow-height;

      .Arrow {
        bottom: calc(($popover-arrow-height + $popover-border-width) * -1);
      }

      .Arrow::before,
      .Arrow::after {
        border-width: $popover-arrow-height calc($popover-arrow-width / 2) 0;
      }

      .Arrow::before {
        bottom: 0;
        border-top-color: $popover-arrow-outer-color;
      }

      .Arrow::after {
        bottom: $popover-border-width;
        border-top-color: $popover-arrow-color;
      }
    }
    &.right {
      margin-left: $popover-arrow-height;

      .Arrow {
        left: calc(($popover-arrow-height + $popover-border-width) * -1);
        width: $popover-arrow-height;
        height: $popover-arrow-width;
        margin: $border-radius-lg 0;
      }

      .Arrow::before,
      .Arrow::after {
        border-width: calc($popover-arrow-width / 2) $popover-arrow-height
          calc($popover-arrow-width / 2) 0;
      }

      .Arrow::before {
        left: 0;
        border-right-color: $popover-arrow-outer-color;
      }

      .Arrow::after {
        left: $popover-border-width;
        border-right-color: $popover-arrow-color;
      }
    }
    &.bottom {
      margin-top: $popover-arrow-height;

      .Arrow {
        top: calc(($popover-arrow-height + $popover-border-width) * -1);
      }

      .Arrow::before,
      .Arrow::after {
        border-width: 0 calc($popover-arrow-width / 2) $popover-arrow-height
          calc($popover-arrow-width / 2);
      }

      .Arrow::before {
        top: 0;
        border-bottom-color: $popover-arrow-outer-color;
      }

      .Arrow::after {
        top: $popover-border-width;
        border-bottom-color: $popover-arrow-color;
      }
    }
    &.left {
      margin-right: $popover-arrow-height;

      .Arrow {
        right: calc(($popover-arrow-height + $popover-border-width) * -1);
        width: $popover-arrow-height;
        height: $popover-arrow-width;
        margin: $border-radius-lg 0;
      }

      .Arrow::before,
      .Arrow::after {
        border-width: calc($popover-arrow-width / 2) 0
          calc($popover-arrow-width / 2) $popover-arrow-height;
      }

      .Arrow::before {
        right: 0;
        border-left-color: $popover-arrow-outer-color;
      }

      .Arrow::after {
        right: $popover-border-width;
        border-left-color: $popover-arrow-color;
      }
    }
  }

  .Preview {
    @apply max-w-[80ch];

    font-size: 16px;

    :not(pre) > code {
      @apply text-sm whitespace-nowrap;
      @apply bg-muted rounded px-2 py-1 mx-1;
    }

    pre {
      @apply overflow-auto;
      @apply text-sm leading-tight;
      @apply bg-muted rounded p-4;
    }

    p,
    pre,
    blockquote,
    table,
    ul,
    ol,
    caption,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hr {
      @apply mb-4;
    }

    b,
    strong,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-medium;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply leading-tight;
    }

    h1 {
      @apply text-5xl;
    }

    h2 {
      @apply text-4xl;
    }

    h3 {
      @apply text-3xl;
    }

    h4 {
      @apply text-2xl;
    }

    h5 {
      @apply text-xl;
    }

    h6 {
      @apply text-lg;
    }

    ul,
    ol {
      @apply pl-4;
    }

    ul {
      @apply list-disc;
    }

    ol {
      @apply list-decimal;
    }

    blockquote {
      @apply border-l-4 border-pink-600 px-4 italic bg-pink-100 py-2;
    }

    mark {
      @apply bg-pink-200;
    }

    img {
      @apply inline-block;
    }

    caption {
      @apply text-sm text-muted;
    }

    table,
    blockquote,
    ol,
    ul {
      p:last-child {
        @apply mb-0;
      }
    }

    table {
      @apply border-separate rounded border overflow-auto text-sm;

      border-spacing: 0;

      tr th,
      tr td {
        @apply border-r border-b;

        &:last-child {
          @apply border-r-0;
        }
      }

      tbody tr:last-child {
        td,
        th {
          @apply border-b-0;
        }
      }

      th,
      td {
        @apply px-2 py-1;
      }
    }
  }
}
