@import "styles/hljs";
@import "styles/popover";
@import "styles/preview";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
}

a {
  @apply .text-pink-500 .no-underline;
}

#root {
  @apply .flex .flex-auto .w-screen .h-screen .bg-white .overflow-hidden;
}

.text-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
